
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link"routerLinkActive="active" href="#home" routerLink="/dashboard">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#about" routerLinkActive="active" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#about" routerLinkActive="active" routerLink="/flex">Flex</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#about" routerLinkActive="active" routerLink="/jquery">jquery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#table"  routerLink="/table">Table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#login"  routerLink="/login">Logout</a>
    </li>
    
  </ul>
</nav>

