.container-1{
    display: flex;
    flex-direction:row;
    align-items:center;
    width:80%
}
.container-1 div{
    border: 1px #ccc solid ;
    padding: 10px;
}
.box-1{
  
}
.box-2{
    flex: 2 
}
.box-3{
    flex: 2 
}
.outer-container{
    border: 1px #ccc solid ;
    height: 500px;
    width: 500px;
   display: flex
    
}
.inner-container{
    background-color: red;
    height: 100px;
    width: 100px;
    margin: auto
    
}