<form #form="ngForm" >
  <div class="imgcontainer">
    <!-- <img src="img_avatar2.png" alt="Avatar" class="avatar"> -->
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" #first_name="ngModel" name="uname"[(ngModel)]= "loginCred.uname" required>
    <div *ngIf="first_name.errors && errorShow" class="text-danger">
      <div *ngIf="first_name.errors.required">
        Username is required.
      </div>
    </div>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" #password="ngModel" name="psw" [(ngModel)]= "loginCred.psw" required>
    <div *ngIf="password.errors && errorShow" class="text-danger">
      <div *ngIf="password.errors.required">
        Password is required.
      </div>
    </div>
    <button type="submit"  (click)="getCred(form.value)">Login</button>
    <h1 *ngIf="message">Wrong Credential</h1>
  </div>

 
</form>
