<div class="container-1">
  <div class="box-1">
    <h3>HEloo 1111111</h3>
    <p>heloo how r u...???</p>
  </div>
  <div class="box-2">
    <h3>HEloo 2222222222222</h3>
    <p>heloo how r u...???</p>
  </div>
  <div class="box-3">
    <h3>HEloo 33333333333</h3>
    <p>heloo how r u...???</p>
  </div>

</div>
