<table class="table">
    <thead class="thead-light">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arrItem">
        <td>{{item.firstName | uppercase}}</td>
        <td>{{item.lastName | uppercase}}</td>
        <td>{{item.email}}</td>
      </tr>
    </tbody>
  </table>
<h1>{{searchDisplayMessage}}</h1>


<!-- image thumbnail -->
<!-- <div class="image-container">
  <a target="_blank" href="img_forest.jpg" *ngFor="let item of arrItem">
    <img src="{{item.imgUrl}}" alt="Forest" style="width:400px">
    <h1>{{item.firstName}}</h1>
  </a>
</div> -->